
<%- include('../partials/header.ejs') %> 
   
    <h1>Home</h1>  
    <h2>Your path to becoming a Node.js ninja</h2>
    <%- include('../partials/nav.ejs') %> 
<div class="create-blog content">
    <form action="/blogs" method="POST">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required>

        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required>
        
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>

        <button type="submit">Submit</button>
    </form>
</div>

<%- include('../partials/footer.ejs') %> 