
<%- include('./partials/header.ejs') %> 

    
   <h1>Home</h1> 
   <h2>Your path to becoming a Node.js ninja</h2>

    <%- include('./partials/nav.ejs') %> 
    <h1>404 PAGE</h1>
    <h2>OOPS, Page not found</h2>
    <%- include('./partials/footer.ejs') %> 